{{define "title"}}Home{{end}}

{{define "header"}}
<h1 class="text-9xl text-center mt-12">
	<a href="/">
		Confessional
		<span class="text-3xl text-center block">Share your confessions and view other's</span>
	</a>
</h1>
{{end}}

{{define "main"}}
<section>
	<h2 class="text-6xl text-center">Latest Confessions</h2>
	<div class="grid grid-cols-3 gap-4 mt-6">
		{{if .Confessions}}
		{{range .Confessions}}
		<div class="w-full h-24 bg-blue-500">{{.Content}}</div>
		{{end}}
		{{else}}
		{{end}}
	</div>
</section>
{{end}}
